<p>  
  <a href="" (click)="sendMeHome()"><strong class="btn btn-danger">Reset goals</strong></a>
</p>

<ul>
  <li *ngFor="let goal of goals">
    {{ goal }}
  </li>
</ul>

<p style="font-weight: bold;">Developed by:</p>

<div class="card" style="width: 20em; margin: 0;">&nbsp;
  <img class="img-fluid" src="./assets/male.png" style="width:70%; margin: auto;">
    <div class="card-body">
      <h4 class="card-title" style="text-align: center; color: rgb(0, 153, 255); font-weight: bold;">Jimit Dholakia</h4>
      <p class="card-text"></p>
      <div class="text-center">
        <a href="https://in.linkedin.com/in/jimit105" class="btn btn-primary" target="_blank">  
          <i class="fa fa-envelope"></i>
          Contact                                        
        </a>
      </div>
    </div>
</div>
