.container{
    display: grid;
    grid-template-columns: 50% auto;
}

.col{
    padding: .4em 1.3em;
}

.color-dark{
    background: #2E7D32;
}

.color-light{
    background: #66BB6A;
}

input.txt{
    border: 0;
    padding: 1em;
    width: 80%;
    margin-bottom: 2em;
}

input.btn{
    border: 0;
    display: block;
    padding: 1em 3em;
    background: #FFEB3B;
    color: #003A61;
    margin-bottom: 1em;
    cursor: pointer;
    font-weight: bold;
}

.life-container{
    background: #FFEB3B;
    padding: .5em;
    font-weight: bold;
    cursor: pointer;
    color: #003A61;
}